$information-color: rgb(33, 105, 169);
$error-color: rgb(231, 92, 92);
$warning-color: rgb(243, 238, 78);
$custom-color: rgb(243, 238, 78);

$error-background: rgb(237, 154, 154);

$small-font-size: 1.2rem;
$medium-font-size: 2vmin;

$icon-size: 32px;

$border: var(--secondary-color-normal) 1px solid;

// RWD
$small-device-width: 576px;
$medium-device-width: 768px;
